.breathe {
	opacity: 1;
	z-index: 500;
	animation-name: breathe;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-duration: 5s;
}
@keyframes breathe {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		transform: scale(1.09);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.dropIn {
	opacity: 1;
	z-index: 999;
	animation-name: dropIn;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-duration: 1.5s;
}
@keyframes dropIn {
	0% {
		opacity: 0;
    	transform: translateY(-15.625rem);
	}
	100% {
		opacity: 1;
    	transform: translateY(0.3125rem);
	}
}

.night {
	animation-name: darkenBackground;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-duration: 0.5s;
}

@keyframes darkenBackground {

	0% {
		background-color: $c-white;

	}
	100% {
		background-color: $c-transparent;
	}
}

