.body {
	font-family: $font-base;
	font-size: $base-font-size;
	padding: 0 0 0 0 ;
	color: $c-text;
	height: 100vh;
	background-color: $c-transparent;
	background: $c-transparent;

}

.background {
	height: 100%;
	width: 100%;
	z-index: 0;
	overflow: hidden;
}

.container {
	display: -webkit-box;
   	display: -ms-flexbox;
   	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	min-height: 22rem;
	height: 100vh;
    width: auto;
	margin: 0 auto;
	background-color: transparent;

	@include bp(small) {
		margin: 0 auto;
	}
	
	.container__inner {
		width: 100%;
	   	height: 100%;
	   	display: -webkit-box;
	   	display: -ms-flexbox;
	   	display: flex;
	   	-webkit-box-orient: vertical;
	   	-webkit-box-direction: normal;
	       	-ms-flex-flow: column;
	           	flex-flow: column;
	   	-webkit-box-pack: center;
	       	-ms-flex-pack: center;
	           	justify-content: center;
	   	-webkit-box-align: center;
	       	-ms-flex-align: center;
	           	align-items: center;
			
		@include bp(large) {
			width: 37.5rem;
			height: 37.5rem;
			z-index: 3;
		}
	}

	button {
		position: absolute;
		-ms-flex-item-align: center;
    	-ms-grid-row-align: center;
    	align-self: center;
		width: 75%;
		min-height: 12.5rem;
		margin: -2.5rem auto 0 auto;
		border: 1px solid $c-transparent;
		background-color: $c-transparent;
		font-family: 'Varela Round', sans-serif;
		font-size: 1.5rem;
		color: $c-text;
		z-index: 10;
		opacity: 1;
		baseline-shift: baseline;

		-webkit-transition: opacity 0.8s ease-out, z-index 1s ease-out ;
		-moz-transition: opacity 0.8s ease-out, z-index 1s ease-out ;
		-o-transition: opacity 0.8s ease-out, z-index 1s ease-out ;
		transition: opacity 0.8s ease-out, z-index 1s ease-out ;

		@include bp(small) {
			font-size: 2rem;
		}

		@include bp(medsmall) {
			// width: 37.5rem;
			font-size: 3.2rem;
		}

		@include bp(large) {
			font-size: 4.7rem;
		}

		&:focus {
			outline: none;
			border: none;
		}
	}
}

.information {
 	max-width: 15.75rem;
 	max-height: 15.75rem;
 	width: 100%;
 	height: 100%;
 	min-height: 25rem;
 	margin: 0 auto;
 	position: relative;

 	background-color: transparent;
 	z-index: 2;

	.circle {	
		margin: 0 auto;
		display: block;
		border-radius: 50%;
		transform: scale(1);
	}

	@include bp(small) {
 		max-width: 28.5rem;
 		max-height: 28.5rem;
	}

	@include bp(medsmall) {
 		max-width: 28.5rem;
 		max-height: 28.5rem;
	}

	.circle__inner {
		position: absolute;
		width: 100%;
		padding: 0.3125rem;
		text-align: center;
		font-size: 1.2rem;
	}

	.circle__inner_con {
		top: 36.5%;
		@include bp(small) {
			top: 35.5%;
		}

		.conditions {
			display: block;
			margin: auto;
			height: 100%;
			width: 100%;
			text-transform: capitalize;
			@include bp(small) {
				font-size: 1.5rem;
			}
		}
	}

	.circle__inner_temp {
		top: 36%;

		.temperature {
			display: block;
			letter-spacing: 0.075rem;
		}
	}

	.circle__inner_clock{
		top: 26% ;

		.message {
			display: block;
		}
	}
}

.circleCon {
	display: block;
	opacity: 0;
    height: 8rem;
    width: 8rem;
    position: absolute;
 	left: 34%;
  	top: 0;
  	transform: translate(-50%, -50%);
    transform: scale(1);
	background: $c-transparent;
	transition: opacity 0.5s;
	-webkit-transition: display 1s ease ;
	-moz-transition: display 1s ease ;
	-o-transition: display 1s ease ;
	transition: display 1s ease ;

	@include bp(small) {
		min-height: 10rem;
		min-width: 10rem;
    	left: 38%;
	    top: -6%;
	}

	@include bp(medium) {
		top: 20%;
		left: -9%;
	}
}

.circleTemp {
	display: block;
	height: 5.8125rem;
    width: 5.8125rem;
    position: absolute;
	left: 55%;
    top: 30%;
  	transform: translate(-50%, -50%);
	font-family: $font-accent;
	background: $c-transparent;
	
	@include bp(small) {
		min-width: 7.8125rem;
		min-height: 7.8125rem;
		left: 58%;
		top: 26%;

	}
	@include bp(medium) {
		left: 25%;
    	top: 19%;
	}
}

.circleClock {
	display: block;
	opacity: 0;
	height: 15.75rem;
	width: 15.75rem;
    position: absolute;
	left: 0;
  	top: 39%;
  	transform: translate(-50%, -50%);
	background: $c-transparent;
	transition: opacity 2.5s;

	@include bp(small) {
		height: 18.75rem;
		width: 18.75rem;
		left: 10%;
		top: 41%;
	}
	@include bp(medium) {
		left: 46%;
		top: 26%;
	}
}