body {
	font-family: $font-base;
	font-size: 16px;
	padding: 0 0 0 0 ;
	color: $c-text;
}

.background {
	height: 100%;
	width: 100%;
	z-index: 0;
	// background-image: url('../../img/happy_cloud.svg');
 // 	background-size: 50%;
 //    background-position: center;
	// background-repeat: no-repeat;
	
	.bgImg {
		position: fixed;
		top: 0;
		left: 0;
		height: 50%;
		width: auto;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: transparent;
	
	.container-inner {
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		
		@include bp(large) {
			width: 600px;
			height: 600px;
			z-index: 3;
		}
	}

	button {
		display: block;
		position: absolute;
		align-self: center;
		height: 15rem;
		width: 15rem;
		min-width: 180px;
		margin: auto;
		border: 1px solid $c-transparent;
		background-color: $c-transparent;
		border-radius: 50%;
		font-family: 'Varela Round', sans-serif;
		font-size: 1.5rem;
		color: $c-text;
		z-index: 10;
		opacity: 1;

		-webkit-transition: opacity 0.8s ease-out, z-index 1s ease-out ;
		-moz-transition: opacity 0.8s ease-out, z-index 1s ease-out ;
		-o-transition: opacity 0.8s ease-out, z-index 1s ease-out ;
		transition: opacity 0.8s ease-out, z-index 1s ease-out ;

		@include bp(small) {
			font-size: 2rem;
	    	width: 50%;
		}

		@include bp(medsmall) {
			font-size: 3.2rem;
    		min-width: 600px;
    		min-height: 600px;
    		width: 600px;
    		top: calc(50% - 600px);
		  	-webkit-transform: translateY(-50%);
  			-ms-transform: translateY(-50%);
  			transform: translateY(-50%);
   			margin-top: 600px;
		}

		@include bp(large) {
			font-size: 3.7rem;
		}
	
		&:hover {

			// background-color: hsla(43, 94%, 60%, 1);
		}

		&:focus {
			outline: none;
			border: none;
		}
	}
}

.information {
 	min-width: 100%;
 	min-height: auto;
 	margin: 0 auto;
 	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
 	background-color: transparent;
 	border: 1px solid transparent;
 	border-radius: 50%;	
 	z-index: 2;

	 .circle {	
	 	margin: 0 auto;
		display: block;
		border-radius: 50%;
		position: relative;	
		background-color: orange;
	}

	@include bp(medsmall) {
 		min-width: 600px;
 		min-height: 600px;
 		height: 600px;
 		width: 600px;
 		flex-flow: column nowrap;
	
	}

	.circle-inner {
		position: absolute;
		width: 100%;
		padding: 5px;
		text-align: center;
		font-size: 1.2rem;
	}

	.circle-inner-con {
		top: 39%;

		.conditions {
			display: block;
			margin: auto;
			height: 100%;
			width: 100%;
			text-transform: capitalize;
		}
	}	
	.circle-inner-temp {
		top: 38%;

		.temperature {
			display: block;
		}
	}

	.circle-inner-mess {
		top: 32% ;

		.message {
			display: block;
		}
	}
}


.circleCon {
	display: block;
	opacity: 0;
    height: 175px;
    width: 175px;
	background-color: $c-transparent;
	transition: opacity 0.5s;
	-webkit-transition: display 1s ease ;
	-moz-transition: display 1s ease ;
	-o-transition: display 1s ease ;
	transition: display 1s ease ;

	@include bp(medsmall) {
		height: 175px;
    	width: 175px;
	
	}

}

.circleTemp {
	display: block;
	opacity: 0;
	height: 125px;
    width: 125px;
	font-family: $font-accent;
	// background: hsla(23, 66%, 50%, 0.9);
	background-color: $c-transparent;
	transition: opacity 1s;

}

.circleMess {
	display: block;
	opacity: 0;
	height: 300px;
	width: 300px;
	// background: hsla(57, 71%, 50%, 0.9);
	background-color: $c-transparent;
	transition: opacity 1.5s;

}



