.body {
	font-family: $font-base;
	font-size: 16px;
	padding: 0 0 0 0 ;
	color: $c-text;
	height: 100vh;
	background-color: $c-transparent;
	background: $c-transparent;

}

.background {
	height: 100%;
	width: 100%;
	z-index: 0;
	overflow: hidden;
	// background-color: $c-white;
}

.container {
	display: -webkit-box;
   	display: -ms-flexbox;
   	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: transparent;
	
	.container__inner {
		width: 100%;
	   	height: 100%;
	   	display: -webkit-box;
	   	display: -ms-flexbox;
	   	display: flex;
	   	-webkit-box-orient: vertical;
	   	-webkit-box-direction: normal;
	       	-ms-flex-flow: column;
	           	flex-flow: column;
	   	-webkit-box-pack: center;
	       	-ms-flex-pack: center;
	           	justify-content: center;
	   	-webkit-box-align: center;
	       	-ms-flex-align: center;
	           	align-items: center;
			
		@include bp(large) {
			width: 600px;
			height: 600px;
			z-index: 3;
		}
	}

	button {
		position: absolute;
		-ms-flex-item-align: center;
    	-ms-grid-row-align: center;
    	align-self: center;
		width: 75%;
		min-height: 200px;
		margin: -40px auto 0 auto;
		border: 1px solid $c-transparent;
		background-color: $c-transparent;
		font-family: 'Varela Round', sans-serif;
		font-size: 1.5rem;
		color: $c-text;
		z-index: 10;
		opacity: 1;
		baseline-shift: baseline;

		-webkit-transition: opacity 0.8s ease-out, z-index 1s ease-out ;
		-moz-transition: opacity 0.8s ease-out, z-index 1s ease-out ;
		-o-transition: opacity 0.8s ease-out, z-index 1s ease-out ;
		transition: opacity 0.8s ease-out, z-index 1s ease-out ;

		@include bp(small) {
			font-size: 2rem;
			width: 400px;

		}

		@include bp(medsmall) {
			width: 600px;
			font-size: 3.2rem;
		}

		@include bp(large) {
			font-size: 4.7rem;
		}

		&:focus {
			outline: none;
			border: none;
		}
	}
}

.information {
 	min-width: 100%;
 	min-height: 100vh;
 	margin: 0 auto;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
 	background-color: transparent;
 	z-index: 2;

	.circle {	
		margin: 0 auto;
		display: block;
		border-radius: 50%;
		position: relative;	
		transform: scale(1);

	}

	@include bp(medsmall) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
    	-ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
 		min-width: 600px;
 		min-height: 600px;
 		transform: translateY(20%);
	}

	.circle__inner {
		position: absolute;
		width: 100%;
		padding: 5px;
		text-align: center;
		font-size: 1.2rem;
	}

	.circle__inner_con {
		top: 36.5%;

		.conditions {
			display: block;
			margin: auto;
			height: 100%;
			width: 100%;
			text-transform: capitalize;
		}
	}

	.circle__inner_temp {
		top: 38%;

		.temperature {
			display: block;
		}
	}

	.circle__inner_clock{
		top: 26% ;

		.message {
			display: block;
		}
	}
}

.circleCon {
	display: block;
	opacity: 0;
    height: 175px;
    width: 175px;
    top: 72px;
    left: 40px;
    transform: scale(1);
	background: $c-transparent;
	transition: opacity 0.5s;
	-webkit-transition: display 1s ease ;
	-moz-transition: display 1s ease ;
	-o-transition: display 1s ease ;
	transition: display 1s ease ;

	@include bp(medium) {
		top: 0;
		left: 0;
	}
}

.circleTemp {
	display: block;
	height: 125px;
    width: 125px;
    left: -70px;
    top: 5px;
	font-family: $font-accent;
	background: $c-transparent;

	@include bp(medsmall) {
		left: -15px;
	}

	@include bp(medium) {
		top: 0;
		left: 0;
	}
}

.circleClock {
	display: block;
	opacity: 0;
	height: 300px;
	width: 300px;
	background: $c-transparent;
	transition: opacity 2.5s;
	@include bp(medsmall) {
		top: 60px;
		left: -66px;

	}
	@include bp(medium) {
		top: 0;
		left: 0;
	}
}