.bold {
	font-weight: 700;
	font-size: $h1-font-size;
}

.fadeIn {
	opacity: 1;
}

.daytime {
	background-color: $c-white;
	color: $c-text;
}

.night {
	color: $c-white;

	animation-name: darkenBackground;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-duration: 0.5s;
}

button.fadeOut {
	opacity: 0;
	z-index: 0;
}

.smaller {
	display: block;
	font-size: 0.8rem;
	text-transform: none;
	border: 1px solid $c-cond-cool;
	border-radius: 0.3125rem;
	padding: 0.5rem 0.875rem;

	&:hover {
		background-color: $c-cond-cool;
		border: 1px solid $c-cond-cool;
		border-radius: 0.3125rem;
	}

	@include bp(small) {
		width: 70%;
		max-width: 12.5rem;
		margin: 0 auto;
	}

	@include bp(medium) {
		display: inline;
		vertical-align: calc(50%);
	}
}