// FONTS
$font-base: 'Varela Round', sans-serif;
$font-accent: 'Abril Fatface', cursive;

$base-font-size: 1rem; // 16px
// This line-height determines the basic unit of vertical rhythm.
$base-line-height: 1.5rem;
$h1-font-size: 2 * $base-font-size;
// $h2-font-size: 1.5 * $base-font-size;
// $h3-font-size: 1.17 * $base-font-size;
// $h4-font-size: 1 * $base-font-size;
// $h5-font-size: 0.83 * $base-font-size;
// $h6-font-size: 0.75 * $base-font-size;


//COLORS
$c-text: hsl(112, 2%, 11%);
$c-transparent: hsla(227, 77%, 50%, 0);
$c-white: #fff;
$c-grey: hsla(0, 0%, 50%, 1);

//COLORS FOR DIFFERENT CONDITIONS
$c-cond-freezing: hsla(276, 98%, 88%, 1) ;
$c-cond-cold: hsla(197, 98%, 81%, 1) ;
$c-cond-cool: hsla(175, 96%, 50%, 0.98);
$c-cond-mild: hsla(91, 49%, 50%, 0.99);
$c-cond-warm: hsla(35, 99%, 50%, 0.99);
$c-cond-hot: hsla(15, 97%, 50%, 0.99);




